@import "tailwindcss";

:root {
  --brand-50: 240 248 255;
  --brand-100: 219 234 254;
  --brand-200: 191 219 254;
  --brand-300: 147 197 253;
  --brand-400: 96 165 250;
  --brand-500: 59 130 246;
  --brand-600: 37 99 235;
  --brand-700: 29 78 216;
  --brand-800: 30 64 175;
  --brand-900: 30 58 138;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.dark {
  color-scheme: dark;
}
